.purchase-notification {


    &-image {
        width: 73px;
        min-width: 73px;
        height: 73px;
        border-radius: 5px;

        img {
            border-radius: 5px;
        }
    }

    &-time {
        color: #bcc2cd;
    }
}
